<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <title>Document</title>
  </head>
  <body ng-app="myapp">
    <table ng-controller="handlerClick">
      <tr>
        <td>Name</td>
        <td>Likes</td>
        <td>Dislike</td>
        <td>Actions</td>
      </tr>
      <tr ng-repeat="ac in action">
        <td>{{ac.ten}}</td>
        <td>{{ac.like}}</td>
        <td>{{ac.dislike}}</td>
        <td>
          <button ng-click="like(ac)">Like</button>
          <button ng-click="">Dislike</button>
        </td>
      </tr>
    </table>
    <script>
      function handlclick($scope) {
        var action = [{ ten: "Nguyen Van A", like: 0, dislike: 0 }];
        $scope.action = action;
        $scope.like = function (action) {
          action.like++;
        };
      }
      var app = angular.module("myapp", []);
      app.controller("handlerClick", handlclick);
    </script>
  </body>
</html>
